@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>@ViewData["Aluno"]</strong> - Desenvolvedor .NET</p>

<address>
    <strong>More information: </strong> <a href="http://linkedin.com/in/marcopacheco-dev/">https://www.linkedin.com/in/marcopacheco-dev/</a>
</address>